    <nav>
      <a href="/sign-in">Sign In</a>
      <a href="/sign-up">Sign Up</a>
      <a href="/sign-out">Sign Out</a>
    </nav>

<h1>{{title}}</h1>
<p>Welcome  <a href="/profile">{{user.name}}</a></p>

 <a href="/main">Private page with an image</a>
 <a href="/private">Private page with a gif</a>
