<h1>PROFILE PAGE</h1>

<h3>Username:</h3>
<p>{{user.name}}</p>

<h3>Name:</h3>
<p>{{user.realName}}</p>
<a href="/edit">Edit your name</a>

<h3>User Id:</h3>
<p>{{user._id}}</p>

<h3>User Since</h3>
<p>{{user.createdAt}}</p>